{% extends "base.html" %}
    
{% block content %}

    <h2>Edição de Cursos</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-success btn-block" name="bt" value="salvar">Salvar</button>
        <button type="submit" class="btn btn-outline-danger btn-block" name="bt" value="remover">Remover</button>
        <a method="POST" class="btn btn-light btn-block btn-outline-primary" href="{% url 'consulta_cursos' %}">Cancelar</a>

    </form>

{% endblock %}