{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Cadastro de Eleições</h2>
    <form method="POST" class="post-form">{% csrf_token %}
         <!--{% csrf_token %}  adiciona uma camada de segurança no formulário-->
        
        <p>
            <label for='id_tipo'>Tipo: </label>{{form.tipo}}
        </p>
        <p>
            <label for='id_nome'>Nome: </label>{{form.nome}}
        </p>
        <p>
            <label for='id_descricao'>Descrição: </label>{{form.descricao}}
        </p>
        <p>
            <label for='id_data_ini'>Data Inicial: </label>{{form.data_ini}}
        </p>
        <p>
            <label for='id_data_fim'>Data Final: </label>{{form.data_fim}}
        </p>

        <!-- Deve ser criado um campo para a adição de candidatos (filtrar usuários que são candidatos) 
        O valor do campo deve ser configurado com java sript para adicionar todos os ids em forma de texto 
        Ou pode ser criado uma tela nova só para realizar a tarefa de adicionar candidatos -->
        <hr>
        <div class="btn btn-block">
            <p>Adicionar novo CANDIDATO</p>
            <img type="button" class="img-fluid" name="addCandidato" style="width: 5%;" src="{% static 'media/icons/add-circle-outline.svg' %}">
            <script>addCandidato()</script>
        </div>
        <hr>
        <!-- Deve ser criado um campo para a adição de eleitores (filtrar usuários que são eleitores) -->
        <div class="btn btn-block">
            <p>Adicionar novo ELEITOR</p>
            <img type="button" class="img-fluid" name="addEleitor" style="width: 5%;" src="{% static 'media/icons/add-circle-outline.svg' %}">
            <script>addCandidato()</script>
        </div>
        <hr>

        <button type="submit" class="btn btn-outline-success btn-block">Cadastrar</button>
    </form>

{% endblock %}