{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{eleicao.nome}}</h1>

    <form method="POST" class="post-form">{% csrf_token %}
        <!--<p>
            <label for='id_eleicao'>Eleição: </label>{{form.eleicao}}
        </p>-->
        <p>
            <label for='id_candidato'>Candidato: </label>{{form.candidato}}
        </p>
        <button type="submit" class="btn btn-outline-success btn-block" name="bt" value="adicionar">Adicionar</button>
        <button type="submit" class="btn btn-outline-danger btn-block" name="bt" value="remover">Remover</button>
    </form>

    <br>
    <h2>Lista de Candidatos</h2>
    {% for eleicao_candidato in eleicao_candidatos %}
        <hr>
        -> {{eleicao_candidato.candidato}} {{eleicao_candidato.candidato.sobrenome}}
    {% endfor %}

    <hr>

{% endblock %}