{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{eleicao.nome}}</h1>

    <form method="POST" class="post-form">{% csrf_token %}
        <!--<p>
            <label for='id_eleicao'>Eleição: </label>{{form.eleicao}}
        </p>-->
        <p>
            <label for='id_eleitor'>Eleitor: </label>{{form.eleitor}}
        </p>
        <button type="submit" class="btn btn-outline-success btn-block" name="bt" value="adicionar">Adicionar</button>
        <button type="submit" class="btn btn-outline-danger btn-block" name="bt" value="remover">Remover</button>
    </form>

    <br>
    <h2>Lista de Eleitores</h2>
    {% for eleicao_eleitor in eleicao_eleitores %}
        <hr>
            -> {{eleicao_eleitor.eleitor}} {{eleicao_eleitor.eleitor.sobrenome}}
    {% endfor %}

    <hr>
{% endblock %}