{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{eleicao.nome}}</h1>
    {% if eleitores %} <!-- Verifica se há uma lista de candidatos -->
    <form method="POST" class="post-form">{% csrf_token %}
        <!--<p>
            <label for='id_eleicao'>Eleição: </label>{{form.eleicao}}
        </p>-->
        <p>
            <label for='id_eleitor'>Eleitor: </label>
            <!--{{form.eleitor}}-->
            
            <select name="eleitor" class="custom-select" maxlenght="50" id="id_eleitor">
                {% for eleitor in eleitores %} <!-- percorre a lista de candidatos e vai inserindo eles em um campo select, indomando o id do candidato no campo value -->
                    <option value="{{eleitor.pk}}">{{eleitor}} {{eleitor.sobrenome}}</option>
                {% endfor %}
                </select>
            

        </p>
        <button type="submit" class="btn btn-outline-success btn-block" name="bt" value="adicionar">Adicionar</button>
        <button type="submit" class="btn btn-outline-danger btn-block" name="bt" value="remover">Remover</button>
    </form>

    <hr>
    <h2>Lista de Eleitores</h2>
    
    {% for eleicao_eleitor in eleicao_eleitores %}
        
        <div class="list-group-item">
            {% if eleicao_eleitor.eleitor.foto %} <!--Teste para verificar se o usuário possui imagem no perfil-->
                <img class="img-fluid" src="{{ eleicao_eleitor.eleitor.foto.url }}" alt="Era pra aparecer uma imagem aqui!"  width="4%">
                <!--{{ user.foto.url }}<br>  Caminho da imagem-->
            {% endif %} 
            {{eleicao_eleitor.eleitor}} {{eleicao_eleitor.eleitor.sobrenome}}
        </div>
    {% endfor %}
    {% else %} <!-- Caso não tenha sido cadastrado nenhum usuário do tipo Eleitor -->
        <h2>Nenhum eleitor cadastrado!</h2>
        <div align="center">
            <img src="{% static 'media/gifs/source.gif' %}" class="img-fluid" width="40%"/>
        </div>
        <br>
    {% endif %}

    
{% endblock %}