
{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

  <link rel="icon" type="imagem/png" href="{% static 'media/icons/blockchain-claro.png' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Lucas Coelho Reichert">

  <title>{% if title %}{{title}} - {% endif %}Agendamento de Mensagens</title>

  <!-- CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

</head>

<body>

  <header class="">
    
  </header>

 
  <div class="">
    <br/>
    {% block content %}
    
    {% endblock %}
    <br/>

  </div>
  

 
  <!-- Footer -->
  <footer class="">
    <div class="">
      <p class="">Copyright &copy; Lucas Coelho Reichert {% now "Y" %} </p>
    </div>
  </footer>

</body>

</html>
