{% extends 'base.html' %}

{% block content %}
    {% if erro %}
        <div class="alert alert-danger" role="alert">
            {{ erro }}
        </div>  
    {%endif%}
    
    {% for eleicao_eleitor in eleicoes_eleitor %}        
        
            <a method="POST" class="btn btn-light btn-outline-dark" href="{% url 'votacao' pk=eleicao_eleitor.eleicao.pk %}"><div> 
                <!-- pk na url para encaminhar para uma eleição específica -->
                {{ eleicao_eleitor.eleicao.nome }}
            </div></a>

    {% endfor %}
    <br>
{% endblock %}