{% extends 'base.html' %}

{% block content %}
    {% if erro %}
    <div class="alert alert-danger" role="alert">
        {{ erro }}
    </div>  
    {% else %}
    
    <div class="text-center">
        <h2 >{{eleicao.nome}}</h2><hr>
        {% for candidato in candidatos %}        
            <a style="margin-top: 1.5%; margin-left: 1.5%;" method="POST" class="btn btn-light btn-outline-dark" href="#" ><div> 
                <img class="img-fluid" src="{{ candidato.candidato.foto.url }}" alt="Foto do perfil" width="300px"><br>
                {{ candidato.candidato.nome }} {{ candidato.candidato.sobrenome }}
            </div></a>
        {% endfor %}
    </div>
    <br>
    {%endif%}
{% endblock %}