
.login-page {
  width: 100%;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: rgb(246, 253, 246);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input:focus {
    background-color: rgba(9, 65, 1, 0.295);
}

.form button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}


body {
  background-color: #63d471;
  background: -webkit-linear-gradient(right, #63d471, #233329 );
  background: -moz-linear-gradient(right, #63d471, #233329);
  background: -o-linear-gradient(right, #63d471, #233329);
  background: linear-gradient(to left, #63d471, #233329);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;     
}

